<div class="qa-container">

  <!-- Sidebar -->
  <aside class="qa-sidebar">
    <h3>Categories</h3>

    <mat-nav-list>
      @for (category of categories; track category) {
      <a mat-list-item (click)="selectCategory(category)" [class.active]="category === selectedCategory" tabindex="0"
        role="button" (keydown.enter)="selectCategory(category)">
        {{ category }}
      </a>
      }
    </mat-nav-list>
  </aside>

  <!-- Content -->
  <section class="qa-content">
    <h2>{{ selectedCategory }} Questions</h2>

    @if (filteredQuestions.length) {
    @for (q of filteredQuestions; track q.question) {
    <mat-card class="qa-card">
      <mat-card-title>{{ q.question }}</mat-card-title>
      <mat-card-content>
        {{ q.answer }}
      </mat-card-content>
    </mat-card>
    }
    } @else {
    <p>No questions found.</p>
    }

  </section>

</div>