html, body {
  height: 100%;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 0 24px;
}

.logo {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  font-weight: 500;
}

.active-link {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}



.page-container {
  display: flex;
  justify-content: center;
  flex: 1;
  background: #fafafa;
  min-height: calc(100vh - 128px);
}

.content {
  width: 100%;
  max-width: 1100px; /* standard website width */
  padding: 32px;
  background: #fff;
}

.footer {
  text-align: center;
  padding: 16px;
  background: #eeeeee;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.footer a {
  color: #3f51b5;
  text-decoration: none;
}
